<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<title>Functional f.IT.ness</title>

<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<style>
body, h1, h2, h3, h4, h5, h6 {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.w3-navbar, button, h1 {
	font-family: "Montserrat", sans-serif;
}

.fa-anchor, .fa-coffee {
	font-size: 200px;
}

.w3-red {
	background-image: url("/img/Black-Brick-Wallpaper.jpg");
}

#cbox {
	margin-left: 50%;
}

#seleq {
	border: 10px solid black;
	border-radius: 5px;
	background-color: #c1c4c9;
	padding: 10px;
	/*opacity: .7;*/
}

a {
	color: white;
}
</style>
<body>

	<!-- Navbar -->
	<div class="w3-top">
		<ul class="w3-navbar w3-red w3-card-2 w3-left-align w3-large">
			<li class="w3-hide-medium w3-hide-large w3-opennav w3-right"><a
				class="w3-padding-large w3-hover-white w3-large w3-red"
				href="javascript:void(0);" onclick="myFunction()"
				title="Toggle Navigation Menu"> <i class="fa fa-bars"></i>
			</a></li>
			<li><a href="/functionalfitness"
				class="w3-padding-large w3-white">Home</a></li>
			<li><a href="/functionalfitness/exercises.html"
				class="w3-padding-large w3-hover-white">My Exercises</a></li>
			<li class="w3-hide-small"><a href="#"
				class="w3-padding-large w3-hover-white">Edit Profile</a></li>
			<li><a class="w3-padding-large"
				href="/functionalfitness/login_signup.html">Log Out</a></li>
		</ul>

		<!-- Navbar on small screens -->
		<div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium">
			<ul class="w3-navbar w3-left-align w3-large w3-black"
				font-color="white">
				<li><a class="w3-padding-large" href="/functionalfitness">Home</a>
				</li>
				<li><a class="w3-padding-large"
					href="/functionalfitness/exercises.html">My Exercises</a></li>
				<li class="w3-hide-small"><a href="#"
					class="w3-padding-large w3-hover-white">Edit Profile</a></li>
				<li><a class="w3-padding-large"
					href="/functionalfitness/login_signup.html">Log Out</a></li>
			</ul>
		</div>
	</div>

	<!-- Header -->
	<header class="w3-container w3-red w3-center w3-padding-128">
		<h1 class="w3-margin w3-jumbo" style="color: white; font-family:"
			Lucida SansTypewriter", " LucidaConsole", Monaco, " BitstreamVeraSansMono", monospace;">
			<span
				style="background-size: 25%; border: 10px solid white; border-radius: 5px; background-color: black; padding: 30px; opacity: .7;">Functional
				f.IT.ness 
		</h1>
		</div>
	</header>
	<br />
	<br />

	<!-- First Grid -->
	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
	<h1 style="color: black; margin-left: 30%; font-family:" GoudyOldStyle", Garamond, " BigCaslon", " TimesNewRoman", serif;">
		<span id="seleq">Select The Equipment You Have Available</span>
	</h1>

	<br />
	<br />

	<div id="cbox">
		<div
			style="border: 10px solid black; border-radius: 10px; background-color: #c1c4c9; padding: 40px; margin-right: 80%; margin-left: -20%;">

			<input class="equipment" type="checkbox" name="equipment[]" value="1" />Barbell<br />
			<input class="equipment" type="checkbox" name="equipment[]" value="2" />SZ-Bar<br />
			<input class="equipment" type="checkbox" name="equipment[]" value="3" />Dumbbell<br />
			<input class="equipment" type="checkbox" name="equipment[]" value="4" />Gym
			Mat/Floor<br /> <input class="equipment" type="checkbox"
				name="equipment[]" value="6" />Pull-up Bar<br /> <input
				class="equipment" type="checkbox" name="equipment[]" value="8" />Bench<br />
			<input class="equipment" type="checkbox" name="equipment[]" value="9" />Incline
			Bench<br /> <input class="equipment" type="checkbox"
				name="equipment[]" value="10" />Kettlebell<br /> <input
				class="equipment" type="checkbox" name="equipment[]" value="7" />No
			Equipment Available<br />

			<button type="submit" name="equipment-submit" class="btn btn-success"
				id="equipment-submit">
				Submit <span class="glyphicon glyphicon-fire"></span>
			</button>

			<button type="submit" name="reset-table" class="btn btn-danger"
				id="reset-table">Reset</button>
		</div>

	</div>
	<hr>

	<table id="exerciseTable" class="display" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Name</th>
				<th>Exercise Comments</th>
				<th>Muscle Category</th>
				<th>Required Equipment</th>
			</tr>
		</thead>
		<tbody id="tableData"></tbody>
	</table>
</body>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
	<div class="w3-xlarge w3-padding-32">
		<a href="#" class="w3-hover-text-indigo"> <i
			class="fa fa-facebook-official"></i>
		</a> <a href="#" class="w3-hover-text-red"> <i
			class="fa fa-pinterest-p"></i>
		</a> <a href="#" class="w3-hover-text-light-blue"> <i
			class="fa fa-twitter"></i>
		</a> <a href="#" class="w3-hover-text-grey"> <i class="fa fa-flickr"></i>
		</a> <a href="#" class="w3-hover-text-indigo"> <i
			class="fa fa-linkedin"></i>
		</a>
	</div>

</footer>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
<script src="/js/fitnessapp.js"></script>
</html>
