<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <h1>Select The Equipment You Have Available
        </h1>
        <input class="equipment" type="checkbox"  name="equipment[]" value="1"/>Barbell<br/>
        <input class="equipment" type="checkbox"  name="equipment[]" value="2"/>SZ-Bar<br/>
        <input class="equipment" type="checkbox"  name="equipment[]" value="3"/>Dumbbell<br/>
        <input class="equipment" type="checkbox"  name="equipment[]" value="4"/>Gym Mat/Floor<br/>
        <input class="equipment" type="checkbox"  name="equipment[]" value="6"/>Pull-up Bar<br/>
        <input class="equipment" type="checkbox"  name="equipment[]" value="8"/>Bench<br/>
        <input class="equipment" type="checkbox"  name="equipment[]" value="9"/>Incline Bench<br/>
        <input class="equipment" type="checkbox"  name="equipment[]" value="10"/>Kettlebell<br/>
        <input class="equipment" type="checkbox"  name="equipment[]" value="7"/>No Equipment Available<br/>

        <button type="submit" name="equipment-submit" class="btn btn-success" id="equipment-submit">Submit</button>
        <button type="submit" name="reset-table" class="btn btn-danger" id="reset-table">Reset</button>
        <hr>

        <table id="exerciseTable" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Exercise Comments</th>
                    <th>Muscle Category</th>
                    <th>Required Equipment</th>
                </tr>
            </thead>
            <tbody id="tableData"></tbody>
        </table>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
    <script src="/js/fitnessapp.js"></script>
</html>
